<div class="row" style="padding-top: 10px;">


  <div class="col-xl-2"
       style="font-size: 34px; font-family: 'Nova Flat', cursive;">

   {{ 'Header.Annihilation' | translate }}

  </div>

  <div class="col-xl-1 text-xl-right" style="padding-top: 10px;
       cursor: pointer;
       font-size: 110%;">
    {{ 'Header.Home' | translate }}
  </div>

  <div class="col-xl-2 text-xl-center"
       style="padding-top: 10px;
       cursor: pointer;
       font-size: 110%;"
       [matMenuTriggerFor]="visaServices">

    {{ 'Header.VisaServices' | translate }}

    <mat-menu class="remove-padding" #visaServices="matMenu">
      <button
        style="outline: 0;"
        mat-menu-item>F1 visa</button>
      <button
        style="outline: 0;" mat-menu-item>B1/B2 visa</button>
      <button style="outline: 0;" mat-menu-item>Passport renewal</button>
      <button style="outline: 0;" mat-menu-item>US citizen naturalization</button>
    </mat-menu>

  </div>

  <div class="col-xl-3"
       style="padding-top: 10px;
       cursor: pointer;
       font-size: 110%;"
       [mat-menu-trigger-for]="registeredAgentServices">
   {{ 'Header.RegisteredAgentServices' | translate }}


    <mat-menu #registeredAgentServices="matMenu">
      <button style="outline: 0;" mat-menu-item>Basic service</button>
      <button style="outline: 0;" mat-menu-item>Full package service</button>
      <button style="outline: 0;" mat-menu-item [mat-menu-trigger-for]="startingABusiness" >Starting a business</button>
    </mat-menu>

    <mat-menu #startingABusiness>
      <button style="outline: 0;" mat-menu-item>Sole proprietorship</button>
      <button style="outline: 0;" mat-menu-item>Partnership</button>
      <button style="outline: 0;" mat-menu-item>LLC/PLC/LC</button>
      <button style="outline: 0;" mat-menu-item>Corporation</button>
      <button style="outline: 0;" mat-menu-item>EIN</button>
      <button style="outline: 0;" mat-menu-item>ITIN</button>
    </mat-menu>

  </div>


<div class="col-xl-2 text-xl-right"
     style="padding-top: 10px;
       cursor: pointer;
       font-size: 100%;">
   {{ 'Header.ContactUs' | translate }}
</div>

  <div class="col-xl-1 text-xl-center"
       style="padding-top: 10px;
       cursor: pointer;
       font-size: 100%;">
    {{ 'Header.Login' | translate }}
  </div>

  <div class="col-xl-1"
       style="padding-top: 10px;
       cursor: pointer;
       font-size: 100%;">
    {{ 'Header.Register' | translate }}
  </div>

</div>

<hr>














