<div class="row" style="padding-top: 10px;">


  <div class="col-xl-2"
       style="font-size: 34px; font-family: 'Nova Flat', cursive;">

   Annihilation

  </div>

  <div class="col-xl-1 text-xl-right" style="padding-top: 10px;
       cursor: pointer;
       font-size: 110%;">
    Home
  </div>

  <div class="col-xl-2 text-xl-center"
       style="padding-top: 10px;
       cursor: pointer;
       font-size: 110%;"
       [matMenuTriggerFor]="visaServices">

    Visa services

    <mat-menu class="remove-padding" #visaServices="matMenu">
      <button mat-menu-item>F1 visa</button>
      <button mat-menu-item>B1/B2 visa</button>
      <button mat-menu-item>Passport renewal</button>
      <button mat-menu-item>US citizen naturalization</button>
    </mat-menu>

  </div>

  <div class="col-xl-2"
       style="padding-top: 10px;
       cursor: pointer;
       font-size: 110%;"
       [mat-menu-trigger-for]="registeredAgentServices">
    Registered agent services


    <mat-menu #registeredAgentServices="matMenu">
      <button mat-menu-item>Basic service</button>
      <button mat-menu-item>Full package service</button>
      <button mat-menu-item [mat-menu-trigger-for]="startingABusiness" >Starting a business</button>
    </mat-menu>

    <mat-menu #startingABusiness>
      <button mat-menu-item>Sole proprietorship</button>
      <button mat-menu-item>Partnership</button>
      <button mat-menu-item>LLC/PLC/LC</button>
      <button mat-menu-item>Corporation</button>
      <button mat-menu-item>EIN</button>
      <button mat-menu-item>ITIN</button>
    </mat-menu>

  </div>


<div class="col-xl-2"
     style="padding-top: 10px;
       cursor: pointer;
       font-size: 110%;">
  Contact us
</div>

  <div class="offset-xl-1 col-xl-1"
       style="padding-top: 10px;
       cursor: pointer;
       font-size: 110%;">
    Login
  </div>

  <div class="col-xl-1"
       style="padding-top: 10px;
       cursor: pointer;
       font-size: 110%;">
    Register
  </div>

</div>

<hr>














