<div class="row">
  <div class="col-xl-3">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>F1 visa</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
            What is F1 visa?
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
            What do you need to apply for F1 visa?
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
          What services are included in your package?
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
            File tax as F1 students
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
            How to order our service?
          </div>
        </div>

      </mat-expansion-panel>

    </mat-accordion>


    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>B1/B2 visa</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
          What is B1/B2 visa?
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
          What do you need to apply for B1/B2 visa?
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
            What services are included in your package?
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
            How to order our service?
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
            What to do after getting your B2 visa?
          </div>
        </div>

      </mat-expansion-panel>

    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Passport renewal</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>


        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
            When should you renew your passport?
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
            What you need to renew your passport?
          </div>
        </div>

        <div class="row" style="padding-top: 3px; padding-bottom: 3px;">
          <div class="col-xl-12">
          	How to order our service?
          </div>
        </div>



      </mat-expansion-panel>

    </mat-accordion>
  </div>



  <div class="offset-xl-7 col-xl-2">

    <div class="row">
      <div class="col-xl-12">



      </div>
    </div>

  </div>

</div>
