<div class="row container-fluid">

  <div class="col-xl-12">
    <app-header></app-header>
  </div>

</div>

<div class="row container-fluid"
     style="
      padding-left: 20px;
      padding-right: 20px;">

  <div class="col-xl-12">
    <router-outlet></router-outlet>
  </div>

</div>


<div class="row" id="footer" style="margin-left: 0;">
  <div class="col-xl-12" style="width: 100%">

    <div class="row">
      <div class="col-xl-12" style="color: white; font-weight: bold;">
        <i class="fas fa-map-marker-alt" ></i> &nbsp;
        230264 Wentworth Drive Northbrook, IL 60062


      </div>
    </div>

    <div class="row" style="padding-top: 5px; font-weight: bold; color: white">
      <div class="col-xl-12">

        <i class="fas fa-phone"></i> &nbsp; +44 3069 990917

      </div>
    </div>

  </div>
</div>


